dest/done/land1/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://landing-name.ru/css/layout.min.css">
    <link rel="stylesheet" href="http://landing-name.ru/css/fonts-neue.css">
    <link rel="stylesheet" href="http://landing-name.ru/css/fonts-intro.css">
    <link rel="stylesheet" href="http://landing-name.ru/css/components.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;amp;subset=cyrillic-ext,latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="http://landing-name.ru/css/land1.min.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapper__body">
        <section class="block-top" style="background-color:#8FC5D8; background-image: url('http://landing-name.ru/images/back/top-back-1.png')">
          <div class="block-top__logo text-center">
            <div class="container"><a href="https://www.onetwotrip.com" target="_blank"><img class="block-top__logo__img" src="http://landing-name.ru/images/logo/logo-dark.svg" width="90" height="88"></a></div>
          </div>
          <div class="block-top__text text-center">
            <div class="container">
              <div class="block-top__text__title">
                <h1 class="block-top__text__title__inner">Неограниченный выбор путешествий по лучшим ценам</h1>
              </div>
              <div class="block-top__text__desc"><span class="block-top__text__desc__inner">Экономьте вместе с нами!</span></div>
            </div>
          </div>
          <div class="block-top__form">
            <div class="container">
              <div class="block-form">
                <div class="block-form__inner">
                  <script charset="utf-8" src="//partner.onetwotrip.com/build/widget/form.widget.load.js?id=8152" async></script>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="block-taste">
          <div class="block-taste__title text-center">
            <div class="container">
              <h2 class="title white light"><span class="title__inner">Путешествия на любой вкус</span></h2>
            </div>
          </div>
          <div class="block-taste__desc text-center">
            <div class="container">
              <div class="text gray-blue light"><span class="text__inner">Воспользуйтесь нашим поиском, чтобы найти самые выгодные предложения.</span></div>
            </div>
          </div>
          <div class="block-taste__list">
            <div class="container">
              <div class="row">
                <div class="col col-sm--5-1 col-xs--3-1">
                          <div class="block-trip_taste">
                            <div class="block-trip_taste__icon"><img src="http://landing-name.ru/images/avia/trip-taste/trip-beach.svg" width="87" height="93"></div>
                            <div class="block-trip_taste__desc">
                              <div class="text gray-blue"><span class="text__inner">Пляжный отдых</span></div>
                            </div>
                          </div>
                </div>
                <div class="col col-sm--5-1 col-xs--3-1">
                          <div class="block-trip_taste">
                            <div class="block-trip_taste__icon"><img src="http://landing-name.ru/images/avia/trip-taste/trip-nature.svg" width="87" height="87"></div>
                            <div class="block-trip_taste__desc">
                              <div class="text gray-blue"><span class="text__inner">Природа</span></div>
                            </div>
                          </div>
                </div>
                <div class="col col-sm--5-1 col-xs--3-1">
                          <div class="block-trip_taste">
                            <div class="block-trip_taste__icon"><img src="http://landing-name.ru/images/avia/trip-taste/trip-business.svg" width="87" height="95"></div>
                            <div class="block-trip_taste__desc">
                              <div class="text gray-blue"><span class="text__inner">Деловая поездка</span></div>
                            </div>
                          </div>
                </div>
                <div class="col col-sm--5-1 col-xs--3-1 col-xs--offset-6-1 col-sm--offset-8-0">
                          <div class="block-trip_taste">
                            <div class="block-trip_taste__icon"><img src="http://landing-name.ru/images/avia/trip-taste/trip-shop.svg" width="87" height="93"></div>
                            <div class="block-trip_taste__desc">
                              <div class="text gray-blue"><span class="text__inner">Шоппинг</span></div>
                            </div>
                          </div>
                </div>
                <div class="col col-sm--5-1 col-xs--3-1">
                          <div class="block-trip_taste">
                            <div class="block-trip_taste__icon"><img src="http://landing-name.ru/images/avia/trip-taste/trip-city.svg" width="87" height="92"></div>
                            <div class="block-trip_taste__desc">
                              <div class="text gray-blue"><span class="text__inner">Город</span></div>
                            </div>
                          </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="block-cal">
          <div class="block-cal__title">
            <div class="container">
              <h2 class="title bold"><span class="title__inner">Календарь низких цен</span></h2>
            </div>
          </div>
          <div class="block-cal__calendar">
            <div class="container">
              <div class="block-calendar">
                <div class="block-calendar__options">
                  <div class="block-calendar_options">
                    <form>
                      <div class="block-calendar_options__main">
                        <div class="block-calendar_options__main__inputs">
                          <label class="block-calendar_options__control">
                            <input class="block-calendar_options__control__input" type="text" name="from" value="Москва">
                          </label>
                          <label class="block-calendar_options__control">
                            <input class="block-calendar_options__control__input" type="text" name="to" value="Копенгаген">
                          </label>
                        </div>
                        <div class="block-calendar_options__main__radio">
                          <label class="block-calendar_options__control">
                            <input class="block-calendar_options__control__radio" type="radio" name="type" checked="checked"><span>Туда и обратно</span>
                          </label>
                          <label class="block-calendar_options__control">
                            <input class="block-calendar_options__control__radio" type="radio" name="type"><span>В одну сторону</span>
                          </label>
                        </div>
                        <hr class="block-calendar_options__del">
                      </div>
                      <div class="block-calendar_options__add">
                        <hr class="block-calendar_options__del">
                        <label class="block-calendar_options__control">
                          <input class="block-calendar_options__control__check" type="checkbox" name="type"><span>Только прямой перелет</span>
                        </label>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="block-calendar__result">
                  <div class="block-calendar__result__list">
                    <div class="block-calendar__result__item"><a class="block-calendar_date" href="javascript:void(0);">
                                <div class="block-calendar_date__inner">
                                  <div class="block-calendar_date__month"><span class="block-calendar_date__month__inner">Август</span></div>
                                  <div class="block-calendar_date__price"><span class="block-calendar_date__price__inner">13 450 <span class="icon-rub"></span></span></div>
                                </div></a>
                    </div>
                    <div class="block-calendar__result__item"><a class="block-calendar_date" href="javascript:void(0);">
                                <div class="block-calendar_date__inner">
                                  <div class="block-calendar_date__month"><span class="block-calendar_date__month__inner">Август</span></div>
                                  <div class="block-calendar_date__price"><span class="block-calendar_date__price__inner">12 450 <span class="icon-rub"></span></span></div>
                                </div></a>
                    </div>
                    <div class="block-calendar__result__item"><a class="block-calendar_date" href="javascript:void(0);">
                                <div class="block-calendar_date__inner">
                                  <div class="block-calendar_date__month"><span class="block-calendar_date__month__inner">Август</span></div>
                                  <div class="block-calendar_date__price"><span class="block-calendar_date__price__inner">12 450 <span class="icon-rub"></span></span></div>
                                </div></a>
                    </div>
                    <div class="block-calendar__result__item"><a class="block-calendar_date" href="javascript:void(0);">
                                <div class="block-calendar_date__inner">
                                  <div class="block-calendar_date__month"><span class="block-calendar_date__month__inner">Август</span></div>
                                  <div class="block-calendar_date__price"><span class="block-calendar_date__price__inner">13 450 <span class="icon-rub"></span></span></div>
                                </div></a>
                    </div>
                    <div class="block-calendar__result__item"><a class="block-calendar_date" href="javascript:void(0);">
                                <div class="block-calendar_date__inner">
                                  <div class="block-calendar_date__month"><span class="block-calendar_date__month__inner">Август</span></div>
                                  <div class="block-calendar_date__price"><span class="block-calendar_date__price__inner">12 450 <span class="icon-rub"></span></span></div>
                                </div></a>
                    </div>
                    <div class="block-calendar__result__item"><a class="block-calendar_date" href="javascript:void(0);">
                                <div class="block-calendar_date__inner">
                                  <div class="block-calendar_date__month"><span class="block-calendar_date__month__inner">Август</span></div>
                                  <div class="block-calendar_date__price"><span class="block-calendar_date__price__inner">12 450 <span class="icon-rub"></span></span></div>
                                </div></a>
                    </div>
                    <div class="block-calendar__result__item"><a class="block-calendar_date" href="javascript:void(0);">
                                <div class="block-calendar_date__inner">
                                  <div class="block-calendar_date__month"><span class="block-calendar_date__month__inner">Август</span></div>
                                  <div class="block-calendar_date__price"><span class="block-calendar_date__price__inner">13 450 <span class="icon-rub"></span></span></div>
                                </div></a>
                    </div>
                    <div class="block-calendar__result__item"><a class="block-calendar_date" href="javascript:void(0);">
                                <div class="block-calendar_date__inner">
                                  <div class="block-calendar_date__month"><span class="block-calendar_date__month__inner">Август</span></div>
                                  <div class="block-calendar_date__price"><span class="block-calendar_date__price__inner">12 450 <span class="icon-rub"></span></span></div>
                                </div></a>
                    </div>
                    <div class="block-calendar__result__item"><a class="block-calendar_date" href="javascript:void(0);">
                                <div class="block-calendar_date__inner">
                                  <div class="block-calendar_date__month"><span class="block-calendar_date__month__inner">Август</span></div>
                                  <div class="block-calendar_date__price"><span class="block-calendar_date__price__inner">12 450 <span class="icon-rub"></span></span></div>
                                </div></a>
                    </div>
                    <div class="block-calendar__result__item"><a class="block-calendar_date" href="javascript:void(0);">
                                <div class="block-calendar_date__inner">
                                  <div class="block-calendar_date__month"><span class="block-calendar_date__month__inner">Август</span></div>
                                  <div class="block-calendar_date__price"><span class="block-calendar_date__price__inner">13 450 <span class="icon-rub"></span></span></div>
                                </div></a>
                    </div>
                    <div class="block-calendar__result__item"><a class="block-calendar_date" href="javascript:void(0);">
                                <div class="block-calendar_date__inner">
                                  <div class="block-calendar_date__month"><span class="block-calendar_date__month__inner">Август</span></div>
                                  <div class="block-calendar_date__price"><span class="block-calendar_date__price__inner">12 450 <span class="icon-rub"></span></span></div>
                                </div></a>
                    </div>
                    <div class="block-calendar__result__item"><a class="block-calendar_date" href="javascript:void(0);">
                                <div class="block-calendar_date__inner">
                                  <div class="block-calendar_date__month"><span class="block-calendar_date__month__inner">Август</span></div>
                                  <div class="block-calendar_date__price"><span class="block-calendar_date__price__inner">12 450 <span class="icon-rub"></span></span></div>
                                </div></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="block-how">
          <div class="block-how__title">
            <div class="container">
              <h2 class="title white light"><span class="title__inner">Как работает наш поиск авиабилетов</span></h2>
            </div>
          </div>
          <div class="block-how__content">
            <div class="container">
              <div class="row">
                <div class="col col-lg--8-4">
                          <div class="block-how_search">
                            <div class="row">
                              <div class="col col-xs--8-2">
                                <div class="block-how_search__icon"><img class="block-how_search__icon__img" src="http://landing-name.ru/images/avia/search/search-settings.svg" width="65" height="57"></div>
                              </div>
                              <div class="col col-xs--8-6">
                                <div class="block-how_search__text">
                                  <div class="block-how_search__text__title"><span class="block-how_search__text__title__inner">Задайте параметры</span></div>
                                  <div class="block-how_search__text__desc"><span class="block-how_search__text__desc__inner">Задайте необходимые параметры путешествия (маршрут, даты, количество и возраст пассажиров), жмите на кнопку «Искать авиабилеты»</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                </div>
                <div class="col col-lg--8-4">
                          <div class="block-how_search">
                            <div class="row">
                              <div class="col col-xs--8-2">
                                <div class="block-how_search__icon"><img class="block-how_search__icon__img" src="http://landing-name.ru/images/avia/search/search-flight.svg" width="71" height="58"></div>
                              </div>
                              <div class="col col-xs--8-6">
                                <div class="block-how_search__text">
                                  <div class="block-how_search__text__title"><span class="block-how_search__text__title__inner">Выбирайте перелет</span></div>
                                  <div class="block-how_search__text__desc"><span class="block-how_search__text__desc__inner">Выбрав наилучший вариант перелёта, нажмите на кнопку «Подробнее», и наша система перенесёт вас на сайт авиакомпании или агентства, где будет производиться бронирование. </span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                </div>
                <div class="col col-lg--8-4">
                          <div class="block-how_search">
                            <div class="row">
                              <div class="col col-xs--8-2">
                                <div class="block-how_search__icon"><img class="block-how_search__icon__img" src="http://landing-name.ru/images/avia/search/search-offers.svg" width="59" height="69"></div>
                              </div>
                              <div class="col col-xs--8-6">
                                <div class="block-how_search__text">
                                  <div class="block-how_search__text__title"><span class="block-how_search__text__title__inner">Смотрите предложения</span></div>
                                  <div class="block-how_search__text__desc"><span class="block-how_search__text__desc__inner">В получившемся списке предложения можно отфильтровать по количеству и длительности пересадок, времени вылета или любимым авиакомпаниям.</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                </div>
                <div class="col col-lg--8-4">
                          <div class="block-how_search">
                            <div class="row">
                              <div class="col col-xs--8-2">
                                <div class="block-how_search__icon"><img class="block-how_search__icon__img" src="http://landing-name.ru/images/avia/search/search-buy.svg" width="71" height="58"></div>
                              </div>
                              <div class="col col-xs--8-6">
                                <div class="block-how_search__text">
                                  <div class="block-how_search__text__title"><span class="block-how_search__text__title__inner">Совершайте покупку</span></div>
                                  <div class="block-how_search__text__desc"><span class="block-how_search__text__desc__inner">После совершения покупки на указанный вами е-мейл будет отправлен электронный билет, который останется лишь распечатать и взять с собой в аэропорт.</span></div>
                                </div>
                              </div>
                            </div>
                          </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="block-popular">
          <div class="block-popular__title">
            <div class="container">
              <h2 class="title"><span class="title__inner">Самые популярные направления перелётов</span></h2>
            </div>
          </div>
          <div class="block-popular__content">
            <div class="container">
              <div class="block-populars">
                <div class="block-populars__item big"><a class="block-popular-box" href="javascript:void(0);">
                            <div class="block-popular-box__back" style="background-image: url(http://landing-name.ru/images/popular/popular-washington.png)"></div>
                            <div class="block-popular-box__inner">
                              <div class="block-popular-box__title"><span class="block-popular-box__title__inner">Вашингтон</span></div>
                              <div class="block-popular-box__desc"><span class="block-popular-box__desc__inner">ИЗ МОСКВЫ</span></div>
                              <div class="block-popular-box__price"><span class="block-popular-box__price__inner">от 23 450 <span class="icon-rub"></span></span></div>
                            </div></a>
                </div>
                <div class="block-populars__item"><a class="block-popular-box" href="javascript:void(0);">
                            <div class="block-popular-box__back" style="background-image: url(http://landing-name.ru/images/popular/popular-paris.png)"></div>
                            <div class="block-popular-box__inner">
                              <div class="block-popular-box__title"><span class="block-popular-box__title__inner">Париж</span></div>
                              <div class="block-popular-box__desc"><span class="block-popular-box__desc__inner">ИЗ МОСКВЫ</span></div>
                              <div class="block-popular-box__price"><span class="block-popular-box__price__inner">от 10 870 <span class="icon-rub"></span></span></div>
                            </div></a>
                </div>
                <div class="block-populars__item"><a class="block-popular-box center" href="javascript:void(0);" style="background-color: #344145">
                            <div class="block-popular-box__back"></div>
                            <div class="block-popular-box__inner">
                              <div class="block-popular-box__title"><span class="block-popular-box__title__inner">Дубай</span></div>
                              <div class="block-popular-box__desc"><span class="block-popular-box__desc__inner">ИЗ САНКТ-ПЕТЕРБУРГА</span></div>
                              <div class="block-popular-box__price"><span class="block-popular-box__price__inner">от 10 870 <span class="icon-rub"></span></span></div>
                            </div></a>
                </div>
                <div class="block-populars__item"><a class="block-popular-box" href="javascript:void(0);">
                            <div class="block-popular-box__back" style="background-image: url(http://landing-name.ru/images/popular/popular-kaliningrad.png)"></div>
                            <div class="block-popular-box__inner">
                              <div class="block-popular-box__title"><span class="block-popular-box__title__inner">Калининград</span></div>
                              <div class="block-popular-box__desc"><span class="block-popular-box__desc__inner">ИЗ МОСКВЫ</span></div>
                              <div class="block-popular-box__price"><span class="block-popular-box__price__inner">от 10 870 <span class="icon-rub"></span></span></div>
                            </div></a>
                </div>
                <div class="block-populars__item"><a class="block-popular-box center" href="javascript:void(0);" style="background-color: #7ACDD5">
                            <div class="block-popular-box__back"></div>
                            <div class="block-popular-box__inner">
                              <div class="block-popular-box__title"><span class="block-popular-box__title__inner">Нью-Йорк</span></div>
                              <div class="block-popular-box__desc"><span class="block-popular-box__desc__inner">ИЗ МОСКВЫ</span></div>
                              <div class="block-popular-box__price"><span class="block-popular-box__price__inner">от 10 870 <span class="icon-rub"></span></span></div>
                            </div></a>
                </div>
                <div class="block-populars__item"><a class="block-popular-box" href="javascript:void(0);">
                            <div class="block-popular-box__back" style="background-image: url(http://landing-name.ru/images/popular/popular-bali.png)"></div>
                            <div class="block-popular-box__inner">
                              <div class="block-popular-box__title"><span class="block-popular-box__title__inner">Бали</span></div>
                              <div class="block-popular-box__desc"><span class="block-popular-box__desc__inner">ИЗ МОСКВЫ</span></div>
                              <div class="block-popular-box__price"><span class="block-popular-box__price__inner">от 10 870 <span class="icon-rub"></span></span></div>
                            </div></a>
                </div>
                <div class="block-populars__item"><a class="block-popular-box" href="javascript:void(0);">
                            <div class="block-popular-box__back" style="background-image: url(http://landing-name.ru/images/popular/popular-santorini.png)"></div>
                            <div class="block-popular-box__inner">
                              <div class="block-popular-box__title"><span class="block-popular-box__title__inner">Сарторини</span></div>
                              <div class="block-popular-box__desc"><span class="block-popular-box__desc__inner">ИЗ МОСКВЫ</span></div>
                              <div class="block-popular-box__price"><span class="block-popular-box__price__inner">от 10 870 <span class="icon-rub"></span></span></div>
                            </div></a>
                </div>
              </div>
            </div>
          </div>
          <div class="block-popular__footer">
            <div class="container">
              <div class="block-popular__footer__content"><span class="block-popular__footer__inner">При выборе авиарейса, мы направляем вас, абсолютно бесплатно, к нашим проверенным партнёрам, которые непосредственно продают авиабилеты. Мы показываем вам, у кого из наших партнеров самые выгодные предложения, поэтому вы не переплачиваете за билет.</span></div>
            </div>
          </div>
        </section>
        <footer class="block-footer">
          <div class="container">
            <div class="block-footer__logo"><img class="block-footer__logo__img" src="http://landing-name.ru/images/logo/logo-white.svg" width="65" height="64"></div>
            <div class="block-footer__menu row">
              <div class="block-footer__menu__item col col-md--3-1"><a class="block-footer__menu__item__link" href="javascript:void(0)"><span class="block-footer__menu__item__link__inner">Удобный поиск</span></a></div>
              <div class="block-footer__menu__item col col-md--3-1"><a class="block-footer__menu__item__link" href="javascript:void(0)"><span class="block-footer__menu__item__link__inner">Выгодные предложения</span></a></div>
              <div class="block-footer__menu__item col col-md--3-1"><a class="block-footer__menu__item__link" href="javascript:void(0)"><span class="block-footer__menu__item__link__inner">Бонусы за покупки</span></a></div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>

src/pug/sections/l1/l1-calendar/index.pug
mixin block_calendar_date(month, price)
  a(href="javascript:void(0);").block-calendar_date
    .block-calendar_date__inner
      .block-calendar_date__month
        span.block-calendar_date__month__inner!= month
      .block-calendar_date__price
        span.block-calendar_date__price__inner!= price


section.block-cal
  .block-cal__title
    .container
      h2.title.bold
        span.title__inner Календарь низких цен
  .block-cal__calendar
    .container
      div.block-calendar
        .block-calendar__options
          .block-calendar_options
            form

              .block-calendar_options__main
                .block-calendar_options__main__inputs
                  label.block-calendar_options__control
                    input(type="text", name="from", value="Москва").block-calendar_options__control__input
                  label.block-calendar_options__control

                    input(type="text", name="to", value="Копенгаген").block-calendar_options__control__input
                .block-calendar_options__main__radio
                  label.block-calendar_options__control
                    input(type="radio", name="type", checked="checked").block-calendar_options__control__radio
                    span Туда и обратно
                  label.block-calendar_options__control
                    input(type="radio", name="type").block-calendar_options__control__radio
                    span В одну сторону
                hr.block-calendar_options__del
              .block-calendar_options__add
                hr.block-calendar_options__del
                label.block-calendar_options__control
                  input(type="checkbox", name="type").block-calendar_options__control__check
                  span Только прямой перелет



        .block-calendar__result
          .block-calendar__result__list
            .block-calendar__result__item
              +block_calendar_date('Август', '13 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '12 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '12 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '13 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '12 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '12 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '13 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '12 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '12 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '13 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '12 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '12 450 ₽')
