src/pug/sections/l3/l3-top/index.pug
mixin block_top_footer(src, title, desc)
  .block-top-rzhd
    .block-top-rzhd__icon
      img(src=config.path.images+'rzhd/'+src+'.svg', width=104, height=104).block-top-rzhd__icon__img
    .block-top-rzhd__text
      .block-top-rzhd__title
        span.block-top-rzhd__title__inner!= title
      .block-top-rzhd__desc
        span.block-top-rzhd__desc__inner!= desc

section.block-top(style="background-color:#58524B; background-image:url('" + config.path.images + "back/top-back-3.png')")
  .block-top__header
    .container
      .block-top__header__inner
        .block-top__header__circle
          .block-top__header__circle__inner
            .block-top__header__circle__title
              span.block-top__header__circle__title__inner САПСАН
            .block-top__header__circle__cost
              span.block-top__header__circle__cost__inner от 1500 ₽
      .block-top__header__logo
        a(href='https://www.onetwotrip.com', target='_blank')
          img(src=config.path.images + 'logo/logo-white.svg', width=84, height=83).block-top__header__logo__img
      .block-top__header__text
        h1.block-top__header__title
          .block-top__header__title__inner БИЛЕТЫ НА ПОЕЗДА РЖД
        .block-top__header__desc
          .block-top__header__desc__inner Неограниченный выбор путешествий


  .block-top__form
    .container
      .block-top__form__inner
        script(charset="utf-8", src="//partner.onetwotrip.com/build/widget/form.widget.load.js?id=8177",  async)
  .block-top__footer
    .container
      .row
        .col.col-sm--3-1
          +block_top_footer('rzhd-wallet', 'Моментальная покупка','Оформление билетов на сайте займет не больше 2 минут.')
        .col.col-sm--3-1
          +block_top_footer('rzhd-seats', 'Поездка на удобных местах','Выбирайте лучшие места в поезде на понятной схеме вагона.')
        .col.col-sm--3-1
          +block_top_footer('rzhd-save', 'Экономьте на путешествиях','Получайте до 3% от заказа в виде бонусов и оплачивайте ими отели и авиабилеты.')

dest/done/land3/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://landing-name.ru/css/layout.min.css">
    <link rel="stylesheet" href="http://landing-name.ru/css/fonts-neue.css">
    <link rel="stylesheet" href="http://landing-name.ru/css/fonts-intro.css">
    <link rel="stylesheet" href="http://landing-name.ru/css/components.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;amp;subset=cyrillic-ext,latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="http://landing-name.ru/css/land3.min.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapper__body">
        <section class="block-top" style="background-color:#58524B; background-image:url('http://landing-name.ru/images/back/top-back-3.png')">
          <div class="block-top__header">
            <div class="container">
              <div class="block-top__header__inner">
                <div class="block-top__header__circle">
                  <div class="block-top__header__circle__inner">
                    <div class="block-top__header__circle__title"><span class="block-top__header__circle__title__inner">САПСАН</span></div>
                    <div class="block-top__header__circle__cost"><span class="block-top__header__circle__cost__inner">от 1500 <span class="icon-rub"></span></span></div>
                  </div>
                </div>
              </div>
              <div class="block-top__header__logo"><a href="https://www.onetwotrip.com" target="_blank"><img class="block-top__header__logo__img" src="http://landing-name.ru/images/logo/logo-white.svg" width="84" height="83"></a></div>
              <div class="block-top__header__text">
                <h1 class="block-top__header__title">
                  <div class="block-top__header__title__inner">БИЛЕТЫ НА ПОЕЗДА РЖД</div>
                </h1>
                <div class="block-top__header__desc">
                  <div class="block-top__header__desc__inner">Неограниченный выбор путешествий</div>
                </div>
              </div>
            </div>
          </div>
          <div class="block-top__form">
            <div class="container">
              <div class="block-top__form__inner">
                <script charset="utf-8" src="//partner.onetwotrip.com/build/widget/form.widget.load.js?id=8177" async></script>
              </div>
            </div>
          </div>
          <div class="block-top__footer">
            <div class="container">
              <div class="row">
                <div class="col col-sm--3-1">
                          <div class="block-top-rzhd">
                            <div class="block-top-rzhd__icon"><img class="block-top-rzhd__icon__img" src="http://landing-name.ru/images/rzhd/rzhd-wallet.svg" width="104" height="104"></div>
                            <div class="block-top-rzhd__text">
                              <div class="block-top-rzhd__title"><span class="block-top-rzhd__title__inner">Моментальная покупка</span></div>
                              <div class="block-top-rzhd__desc"><span class="block-top-rzhd__desc__inner">Оформление билетов на сайте займет не больше 2 минут.</span></div>
                            </div>
                          </div>
                </div>
                <div class="col col-sm--3-1">
                          <div class="block-top-rzhd">
                            <div class="block-top-rzhd__icon"><img class="block-top-rzhd__icon__img" src="http://landing-name.ru/images/rzhd/rzhd-seats.svg" width="104" height="104"></div>
                            <div class="block-top-rzhd__text">
                              <div class="block-top-rzhd__title"><span class="block-top-rzhd__title__inner">Поездка на удобных местах</span></div>
                              <div class="block-top-rzhd__desc"><span class="block-top-rzhd__desc__inner">Выбирайте лучшие места в поезде на понятной схеме вагона.</span></div>
                            </div>
                          </div>
                </div>
                <div class="col col-sm--3-1">
                          <div class="block-top-rzhd">
                            <div class="block-top-rzhd__icon"><img class="block-top-rzhd__icon__img" src="http://landing-name.ru/images/rzhd/rzhd-save.svg" width="104" height="104"></div>
                            <div class="block-top-rzhd__text">
                              <div class="block-top-rzhd__title"><span class="block-top-rzhd__title__inner">Экономьте на путешествиях</span></div>
                              <div class="block-top-rzhd__desc"><span class="block-top-rzhd__desc__inner">Получайте до 3% от заказа в виде бонусов и оплачивайте ими отели и авиабилеты.</span></div>
                            </div>
                          </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="block-advantages">
          <div class="block-advantages__content">
            <div class="container">
              <div class="row">
                <div class="col col-sm--12-4">
                  <div class="block-advantages__icon"><img class="block-advantages__icon__img" src="http://landing-name.ru/images/rzhd/advantages/medal.svg" width="138" height="211"></div>
                </div>
                <div class="col col-sm--12-8">
                  <div class="block-advantages__title">
                    <h2 class="title bold"><span class="title__inner">НАШИ ПРЕИМУЩЕСТВА</span></h2>
                  </div>
                  <ul class="block-advantages__list">
                    <li class="block-advantages__list__item"><span>Мы находим для вас лучший вариант, а вы сами выбираете, где купить билет.</span></li>
                    <li class="block-advantages__list__item"><span>Мы не взимаем комиссий, не устанавливаем наценок и не берем никакого вознаграждения с наших пользователей.</span></li>
                    <li class="block-advantages__list__item"><span>У нас большая база компаний-партнеров, у вас — огромный выбор маршрутов, акций и скидок.</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="block-popular">
          <div class="block-popular__title">
            <div class="container">
              <h2 class="title white bold"><span class="title__inner">ПОПУЛЯРНЫЕ НАПРАВЛЕНИЯ</span></h2>
            </div>
          </div>
          <div class="block-popular__content">
            <div class="container">
              <div class="block-popular-items">
                <div class="block-popular-items__item big">
                          <!----><a class="block-popular-box big" href="javascript:void(0)">
                            <div class="block-popular-box__back" style="background-image: url('http://landing-name.ru/images/popular/popular-moscow_snt_peter.png')"></div>
                            <div class="block-popular-box__from"><span class="block-popular-box__from__inner">Москва</span></div>
                            <div class="block-popular-box__to"><span class="block-popular-box__to__inner">—</span><span class="block-popular-box__to__inner">Санкт-Петербург</span></div>
                            <div class="block-popular-box__country"><span class="block-popular-box__country__inner">Россия</span></div>
                            <div class="block-popular-box__price"><span class="block-popular-box__price__inner">от 23 450 <span class="icon-rub"></span></span></div></a>
                </div>
                <div class="block-popular-items__item">
                          <!----><a class="block-popular-box" href="javascript:void(0)">
                            <div class="block-popular-box__back"></div>
                            <div class="block-popular-box__from"><span class="block-popular-box__from__inner">Москва</span></div>
                            <div class="block-popular-box__to"><span class="block-popular-box__to__inner">—</span><span class="block-popular-box__to__inner">Калининград</span></div>
                            <div class="block-popular-box__country"><span class="block-popular-box__country__inner">Россия</span></div>
                            <div class="block-popular-box__price"><span class="block-popular-box__price__inner">от 23 450 <span class="icon-rub"></span></span></div></a>
                </div>
                <div class="block-popular-items__item">
                          <!----><a class="block-popular-box" href="javascript:void(0)">
                            <div class="block-popular-box__back"></div>
                            <div class="block-popular-box__from"><span class="block-popular-box__from__inner">Москва</span></div>
                            <div class="block-popular-box__to"><span class="block-popular-box__to__inner">—</span><span class="block-popular-box__to__inner">Екатеринбург</span></div>
                            <div class="block-popular-box__country"><span class="block-popular-box__country__inner">Россия</span></div>
                            <div class="block-popular-box__price"><span class="block-popular-box__price__inner">от 23 450 <span class="icon-rub"></span></span></div></a>
                </div>
                <div class="block-popular-items__item">
                          <!----><a class="block-popular-box" href="javascript:void(0)">
                            <div class="block-popular-box__back"></div>
                            <div class="block-popular-box__from"><span class="block-popular-box__from__inner">Москва</span></div>
                            <div class="block-popular-box__to"><span class="block-popular-box__to__inner">—</span><span class="block-popular-box__to__inner">Калининград</span></div>
                            <div class="block-popular-box__country"><span class="block-popular-box__country__inner">Россия</span></div>
                            <div class="block-popular-box__price"><span class="block-popular-box__price__inner">от 23 450 <span class="icon-rub"></span></span></div></a>
                </div>
                <div class="block-popular-items__item">
                          <!----><a class="block-popular-box" href="javascript:void(0)">
                            <div class="block-popular-box__back" style="background-image: url('http://landing-name.ru/images/popular/popular-snt_peter_hels.png')"></div>
                            <div class="block-popular-box__from"><span class="block-popular-box__from__inner">Санкт-Петербург</span></div>
                            <div class="block-popular-box__to"><span class="block-popular-box__to__inner">—</span><span class="block-popular-box__to__inner">Хельсинки</span></div>
                            <div class="block-popular-box__country"><span class="block-popular-box__country__inner">Финляндия</span></div>
                            <div class="block-popular-box__price"><span class="block-popular-box__price__inner">от 23 450 <span class="icon-rub"></span></span></div></a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <footer class="block-footer air1 air">
          <div class="container">
            <div class="block-footer__logo"><img class="block-footer__logo__img" src="http://landing-name.ru/images/logo/logo-white.svg" width="65" height="64"></div>
            <div class="block-footer__menu">
              <div class="block-footer__menu__title">
                <div class="block-footer__menu__title__inner">Лучшие предложения на авиаперелет</div>
              </div>
              <div class="row">
                <div class="block-footer__menu__item col col-md--3-1"><a class="block-footer__menu__item__link" href="javascript:void(0)"><span class="block-footer__menu__item__link__inner">Удобный поиск</span></a></div>
                <div class="block-footer__menu__item col col-md--3-1"><a class="block-footer__menu__item__link" href="javascript:void(0)"><span class="block-footer__menu__item__link__inner">Выгодные предложения</span></a></div>
                <div class="block-footer__menu__item col col-md--3-1"><a class="block-footer__menu__item__link" href="javascript:void(0)"><span class="block-footer__menu__item__link__inner">Бонусы за покупки</span></a></div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
