dest/done/land6/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://landing-name.ru/css/layout.min.css">
    <link rel="stylesheet" href="http://landing-name.ru/css/fonts-neue.css">
    <link rel="stylesheet" href="http://landing-name.ru/css/fonts-intro.css">
    <link rel="stylesheet" href="http://landing-name.ru/css/components.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;amp;subset=cyrillic-ext,latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="http://landing-name.ru/css/land6.min.css">
    <link rel="stylesheet" href="http://landing-name.ru/css/fonts-agora.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;amp;subset=cyrillic" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapper__body">
        <section class="block-top" style="background-color: #93CAC0" id="top">
          <div class="block-top__header">
            <div class="block-top__header__back"><img class="block-top__header__back__img" src="http://landing-name.ru/images/back/top-back-6.svg" width="608" height="420"></div>
            <div class="container">
              <div class="block-top__header__logo"><a href="https://www.onetwotrip.com" target="_blank"><img class="block-top__header__logo__img" src="http://landing-name.ru/images/logo/logo-white.svg" width="68" height="67"></a></div>
              <div class="block-top__header__text">
                <div class="block-top__header__title"><span class="block-top__header__title__inner">Бронирование отелей со скидками</span></div>
              </div>
            </div>
          </div>
          <div class="block-top__form">
            <div class="container">
              <div class="block-top__form__inner">
                <script charset="utf-8" src="//partner.onetwotrip.com/build/widget/form.widget.load.js?id=8255" async></script>
              </div>
            </div>
          </div>
        </section>
        <script>
          (function () {
            'use strict'
            var top, triangle, w = window.innerWidth;
            document.addEventListener("DOMContentLoaded", function (event) {
              top = document.getElementById('top');
              top.className = 'block-top js';
          
              triangle = document.createElement('div');
              triangle.className = 'block-top-triangle';
          
              top.appendChild(triangle);
              triangle.style.borderLeftWidth = w / 2 + 'px';
              triangle.style.borderRightWidth = w / 2 + 'px';
            });
          
            window.addEventListener('resize', function (event) {
              var newW = window.innerWidth;
              if (newW == w)
                return true;
              w = newW;
          
              triangle.style.borderLeftWidth = w / 2 + 'px';
              triangle.style.borderRightWidth = w / 2 + 'px';
              return true;
            });
          }());
        </script>
        <section class="block-advantages">
          <div class="block-advantages__title">
            <div class="container">
              <div class="block-title">
                <div class="block-title__text"><span class="block-title__text__inner">Наши преимущества</span></div>
                <div class="block-title__icon">
                  <div class="block-title__icon__line"></div>
                  <div class="block-title__icon__circle"><img class="block-title__icon__circle__img" src="http://landing-name.ru/images/hotels/hotels-key.svg" width="36" height="33"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="block-advantages__content">
            <div class="container">
              <div class="row">
                <div class="col col-lg--3-1 col-md--3-1 col-sm--8-4">
                          <!---->
                          <div class="block-advantage">
                            <div class="block-advantage__icon"><img class="block-advantage__icon__img" src="http://landing-name.ru/images/hotels/hotels-cup.svg" width="75" height="94"></div>
                            <div class="block-advantage__text">
                              <div class="block-advantage__title"><span class="block-advantage__title__inner">Выбирайте лучшее</span></div>
                              <div class="block-advantage__desc"><span class="block-advantage__desc__inner">Более 900 тыс. отелей, апартаментов, хостелов во всех уголках мира на любой вкус и кошелек.</span></div>
                            </div>
                          </div>
                </div>
                <div class="col col-lg--3-1 col-md--3-1 col-sm--8-4">
                          <!---->
                          <div class="block-advantage">
                            <div class="block-advantage__icon"><img class="block-advantage__icon__img" src="http://landing-name.ru/images/hotels/hotels-wallet.svg" width="82" height="82"></div>
                            <div class="block-advantage__text">
                              <div class="block-advantage__title"><span class="block-advantage__title__inner">Не переплачивайте</span></div>
                              <div class="block-advantage__desc"><span class="block-advantage__desc__inner">У нас гарантированно честные и выгодные цены: без комиссий и скрытых платежей, все налоги включены.</span></div>
                            </div>
                          </div>
                </div>
                <div class="col col-lg--3-1 col-md--3-1 col-sm--8-4 col-sm--offset-8-2 col-md--offset-8-0">
                          <!---->
                          <div class="block-advantage">
                            <div class="block-advantage__icon"><img class="block-advantage__icon__img" src="http://landing-name.ru/images/hotels/hotels-money.svg" width="90" height="87"></div>
                            <div class="block-advantage__text">
                              <div class="block-advantage__title"><span class="block-advantage__title__inner">Получайте бонусы</span></div>
                              <div class="block-advantage__desc"><span class="block-advantage__desc__inner">Вернём до 10% с каждого бронирования (1 трипкоин = 1 <span class="icon-rub"></span>) - копите и путешествуйте дешевле... еще дешевле… бесплатно!</span></div>
                            </div>
                          </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="block-best">
          <div class="block-best__title">
            <div class="container">
              <div class="block-title gray">
                <div class="block-title__text"><span class="block-title__text__inner">Лучшие предложения</span></div>
                <div class="block-title__icon">
                  <div class="block-title__icon__line"></div>
                  <div class="block-title__icon__circle"><img class="block-title__icon__circle__img" src="http://landing-name.ru/images/hotels/hotels-lamp.svg" width="40" height="45"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="block-best__content">
            <div class="container">
              <div class="row">
                <div class="col col-lg--8-2 col-md--3-1 col-xss--8-4"><a class="block-offer" href="javascript:void(0)">
                            <div class="block-offer__header">
                              <div class="block-offer__header__city"><span class="block-offer__header__city__inner">Копенгаген</span></div>
                              <div class="block-offer__header__country"><span class="block-offer__header__country__inner">Дания</span></div>
                              <div class="block-offer__header__desc"><span class="block-offer__header__desc__inner">20-25 августа, 2 взрослых</span></div>
                              <div class="block-offer__header__price"><span class="block-offer__header__price__inner">от 10 870 <span class="icon-rub"></span></span></div>
                            </div>
                            <div class="block-offer__bottom">
                              <div class="block-offer__bottom__image" style="background-image:url(http://landing-name.ru/images/best/best-kopengagen.png)"></div>
                            </div></a>
                </div>
                <div class="col col-lg--8-2 col-md--3-1 col-xss--8-4"><a class="block-offer" href="javascript:void(0)">
                            <div class="block-offer__header">
                              <div class="block-offer__header__city"><span class="block-offer__header__city__inner">Стокгольм</span></div>
                              <div class="block-offer__header__country"><span class="block-offer__header__country__inner">Швеция</span></div>
                              <div class="block-offer__header__desc"><span class="block-offer__header__desc__inner">20-25 августа, 2 взрослых</span></div>
                              <div class="block-offer__header__price"><span class="block-offer__header__price__inner">от 10 870 <span class="icon-rub"></span></span></div>
                            </div>
                            <div class="block-offer__bottom">
                              <div class="block-offer__bottom__image" style="background-image:url(http://landing-name.ru/images/best/best-stokgolm.png)"></div>
                            </div></a>
                </div>
                <div class="col col-lg--8-2 col-md--3-1 col-xss--8-4"><a class="block-offer" href="javascript:void(0)">
                            <div class="block-offer__header">
                              <div class="block-offer__header__city"><span class="block-offer__header__city__inner">Гонконг</span></div>
                              <div class="block-offer__header__country"><span class="block-offer__header__country__inner">Китай</span></div>
                              <div class="block-offer__header__desc"><span class="block-offer__header__desc__inner">20-25 августа, 2 взрослых</span></div>
                              <div class="block-offer__header__price"><span class="block-offer__header__price__inner">от 10 870 <span class="icon-rub"></span></span></div>
                            </div>
                            <div class="block-offer__bottom">
                              <div class="block-offer__bottom__image" style="background-image:url(http://landing-name.ru/images/best/best-hongkong.png)"></div>
                            </div></a>
                </div>
                <div class="col col-lg--8-2 col-md--3-1 col-xss--8-4"><a class="block-offer" href="javascript:void(0)">
                            <div class="block-offer__header">
                              <div class="block-offer__header__city"><span class="block-offer__header__city__inner">Гонконг</span></div>
                              <div class="block-offer__header__country"><span class="block-offer__header__country__inner">Китай</span></div>
                              <div class="block-offer__header__desc"><span class="block-offer__header__desc__inner">20-25 августа, 2 взрослых</span></div>
                              <div class="block-offer__header__price"><span class="block-offer__header__price__inner">от 10 870 <span class="icon-rub"></span></span></div>
                            </div>
                            <div class="block-offer__bottom">
                              <div class="block-offer__bottom__image" style="background-image:url(http://landing-name.ru/images/best/best-hongkong-2.png)"></div>
                            </div></a>
                </div>
                <div class="col col-lg--8-2 col-md--3-1 col-xss--8-4"><a class="block-offer" href="javascript:void(0)">
                            <div class="block-offer__header">
                              <div class="block-offer__header__city"><span class="block-offer__header__city__inner">Пхукет</span></div>
                              <div class="block-offer__header__country"><span class="block-offer__header__country__inner">Тайланд</span></div>
                              <div class="block-offer__header__desc"><span class="block-offer__header__desc__inner">20-25 августа, 2 взрослых</span></div>
                              <div class="block-offer__header__price"><span class="block-offer__header__price__inner">от 10 870 <span class="icon-rub"></span></span></div>
                            </div>
                            <div class="block-offer__bottom">
                              <div class="block-offer__bottom__image" style="background-image:url(http://landing-name.ru/images/best/best-phuket.png)"></div>
                            </div></a>
                </div>
                <div class="col col-lg--8-2 col-md--3-1 col-xss--8-4"><a class="block-offer" href="javascript:void(0)">
                            <div class="block-offer__header">
                              <div class="block-offer__header__city"><span class="block-offer__header__city__inner">Севастополь</span></div>
                              <div class="block-offer__header__country"><span class="block-offer__header__country__inner">Крым, Россия</span></div>
                              <div class="block-offer__header__desc"><span class="block-offer__header__desc__inner">20-25 августа, 2 взрослых</span></div>
                              <div class="block-offer__header__price"><span class="block-offer__header__price__inner">от 10 870 <span class="icon-rub"></span></span></div>
                            </div>
                            <div class="block-offer__bottom">
                              <div class="block-offer__bottom__image" style="background-image:url(http://landing-name.ru/images/best/best-sevastopol.png)"></div>
                            </div></a>
                </div>
                <div class="col col-lg--8-2 col-md--3-1 col-xss--8-4"><a class="block-offer" href="javascript:void(0)">
                            <div class="block-offer__header">
                              <div class="block-offer__header__city"><span class="block-offer__header__city__inner">Калининград</span></div>
                              <div class="block-offer__header__country"><span class="block-offer__header__country__inner">Россия</span></div>
                              <div class="block-offer__header__desc"><span class="block-offer__header__desc__inner">20-25 августа, 2 взрослых</span></div>
                              <div class="block-offer__header__price"><span class="block-offer__header__price__inner">от 10 870 <span class="icon-rub"></span></span></div>
                            </div>
                            <div class="block-offer__bottom">
                              <div class="block-offer__bottom__image" style="background-image:url(http://landing-name.ru/images/best/best-kaliningrad.png)"></div>
                            </div></a>
                </div>
                <div class="col col-lg--8-2 col-md--3-1 col-xss--8-4"><a class="block-offer" href="javascript:void(0)">
                            <div class="block-offer__header">
                              <div class="block-offer__header__city"><span class="block-offer__header__city__inner">Гонконг</span></div>
                              <div class="block-offer__header__country"><span class="block-offer__header__country__inner">Китай</span></div>
                              <div class="block-offer__header__desc"><span class="block-offer__header__desc__inner">20-25 августа, 2 взрослых</span></div>
                              <div class="block-offer__header__price"><span class="block-offer__header__price__inner">от 10 870 <span class="icon-rub"></span></span></div>
                            </div>
                            <div class="block-offer__bottom">
                              <div class="block-offer__bottom__image" style="background-image:url(http://landing-name.ru/images/best/best-hongkong-3.png)"></div>
                            </div></a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="block-alternative">
          <div class="block-alternative__title">
            <div class="container">
              <div class="block-title">
                <div class="block-title__text"><span class="block-title__text__inner">От недорогих хостелов до пятизвездочных отелей</span></div>
                <div class="block-title__icon">
                  <div class="block-title__icon__line"></div>
                  <div class="block-title__icon__circle"><img class="block-title__icon__circle__img" src="http://landing-name.ru/images/hotels/hotels-rank.svg" width="36" height="36"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="block-alternative__content">
            <div class="container">
              <div class="row">
                <div class="col col-lg--8-2 col-xss--8-4 col-sm--8-2">
                          <div class="block-option">
                            <div class="block-option__circle">
                              <div class="block-option__icon"><img class="block-option__icon__img" src="http://landing-name.ru/images/hotels/hotels-hotels.svg" width="98" height="95"></div>
                            </div>
                            <div class="block-option__count"><span class="block-option__count__inner">230 000</span></div>
                            <div class="block-option__text"><span class="block-option__text__inner">Отелей</span></div>
                          </div>
                </div>
                <div class="col col-lg--8-2 col-xss--8-4 col-sm--8-2">
                          <div class="block-option">
                            <div class="block-option__circle">
                              <div class="block-option__icon"><img class="block-option__icon__img" src="http://landing-name.ru/images/hotels/hotels-hostel.svg" width="96" height="96"></div>
                            </div>
                            <div class="block-option__count"><span class="block-option__count__inner">10 000</span></div>
                            <div class="block-option__text"><span class="block-option__text__inner">Хостелов</span></div>
                          </div>
                </div>
                <div class="col col-lg--8-2 col-xss--8-4 col-sm--8-2">
                          <div class="block-option">
                            <div class="block-option__circle">
                              <div class="block-option__icon"><img class="block-option__icon__img" src="http://landing-name.ru/images/hotels/hotels-flat.svg" width="102" height="91"></div>
                            </div>
                            <div class="block-option__count"><span class="block-option__count__inner">34 000</span></div>
                            <div class="block-option__text"><span class="block-option__text__inner">Квартир</span></div>
                          </div>
                </div>
                <div class="col col-lg--8-2 col-xss--8-4 col-sm--8-2">
                          <div class="block-option">
                            <div class="block-option__circle">
                              <div class="block-option__icon"><img class="block-option__icon__img" src="http://landing-name.ru/images/hotels/hotels-house.svg" width="94" height="81"></div>
                            </div>
                            <div class="block-option__count"><span class="block-option__count__inner">34 000</span></div>
                            <div class="block-option__text"><span class="block-option__text__inner">Загородных домов</span></div>
                          </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <footer class="block-footer rzhd">
          <div class="container">
            <div class="block-footer__logo"><img class="block-footer__logo__img" src="http://landing-name.ru/images/logo/logo-white.svg" width="65" height="64"></div>
            <div class="block-footer__menu">
              <div class="block-footer__menu__title">
                <div class="block-footer__menu__title__inner">Лучшие предложения на ЖД билеты</div>
              </div>
              <div class="row">
                <div class="block-footer__menu__item col col-md--3-1"><a class="block-footer__menu__item__link" href="javascript:void(0)"><span class="block-footer__menu__item__link__inner">Удобный поиск</span></a></div>
                <div class="block-footer__menu__item col col-md--3-1"><a class="block-footer__menu__item__link" href="javascript:void(0)"><span class="block-footer__menu__item__link__inner">Выгодные предложения</span></a></div>
                <div class="block-footer__menu__item col col-md--3-1"><a class="block-footer__menu__item__link" href="javascript:void(0)"><span class="block-footer__menu__item__link__inner">Бонусы за покупки</span></a></div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>

src/pug/sections/l6/l6-best/index.pug
mixin block_offer(title, country, desc, price, src)
  //-
  a(href='javascript:void(0)').block-offer
    .block-offer__header
      .block-offer__header__city
        span.block-offer__header__city__inner!= title
      .block-offer__header__country
        span.block-offer__header__country__inner!= country
      .block-offer__header__desc
        span.block-offer__header__desc__inner!= desc
      .block-offer__header__price
        span.block-offer__header__price__inner!= price
    .block-offer__bottom
      .block-offer__bottom__image(style={'background-image' : 'url('+config.path.images + 'best/' + src + '.png)'})

section.block-best
  .block-best__title
    .container
      .block-title.gray
        .block-title__text
          span.block-title__text__inner Лучшие предложения
        .block-title__icon
          .block-title__icon__line
          .block-title__icon__circle
            img(src=config.path.images + 'hotels/hotels-lamp.svg', width=40, height=45).block-title__icon__circle__img
  .block-best__content
    .container
      .row
        .col.col-lg--8-2.col-md--3-1.col-xss--8-4
          +block_offer('Копенгаген', 'Дания', '20-25 августа, 2 взрослых', 'от 10 870 ₽', 'best-kopengagen')
        .col.col-lg--8-2.col-md--3-1.col-xss--8-4
          +block_offer('Стокгольм', 'Швеция', '20-25 августа, 2 взрослых', 'от 10 870 ₽', 'best-stokgolm')
        .col.col-lg--8-2.col-md--3-1.col-xss--8-4
          +block_offer('Гонконг', 'Китай', '20-25 августа, 2 взрослых', 'от 10 870 ₽', 'best-hongkong')
        .col.col-lg--8-2.col-md--3-1.col-xss--8-4
          +block_offer('Гонконг', 'Китай', '20-25 августа, 2 взрослых', 'от 10 870 ₽', 'best-hongkong-2')
        .col.col-lg--8-2.col-md--3-1.col-xss--8-4
          +block_offer('Пхукет', 'Тайланд', '20-25 августа, 2 взрослых', 'от 10 870 ₽', 'best-phuket')
        .col.col-lg--8-2.col-md--3-1.col-xss--8-4
          +block_offer('Севастополь', 'Крым, Россия', '20-25 августа, 2 взрослых', 'от 10 870 ₽', 'best-sevastopol')
        .col.col-lg--8-2.col-md--3-1.col-xss--8-4
          +block_offer('Калининград', 'Россия', '20-25 августа, 2 взрослых', 'от 10 870 ₽', 'best-kaliningrad')
        .col.col-lg--8-2.col-md--3-1.col-xss--8-4
          +block_offer('Гонконг', 'Китай', '20-25 августа, 2 взрослых', 'от 10 870 ₽', 'best-hongkong-3')
