dest/done/land4/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://landing-name.ru/css/layout.min.css">
    <link rel="stylesheet" href="http://landing-name.ru/css/fonts-neue.css">
    <link rel="stylesheet" href="http://landing-name.ru/css/fonts-intro.css">
    <link rel="stylesheet" href="http://landing-name.ru/css/components.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;amp;subset=cyrillic-ext,latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="http://landing-name.ru/css/land4.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;amp;subset=cyrillic" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapper__body">
        <section class="block-top" style="background-color: #685C5C; background-image: url('http://landing-name.ru/images/back/top-back-4.png')">
          <div class="block-top__header">
            <div class="container">
              <div class="block-top__header__inner">
                <div class="block-top__header__logo"><a href="https://www.onetwotrip.com" target="_blank"><img class="block-top__header__logo__img" src="http://landing-name.ru/images/logo/logo-white.svg" width="84" height="83"></a></div>
                <div class="block-top__header__circle">
                  <div class="block-top__header__circle__inner">
                    <div class="block-top__header__circle__title"><span class="block-top__header__circle__title__inner">САПСАН</span></div>
                    <div class="block-top__header__circle__cost"><span class="block-top__header__circle__cost__inner">от 1500 <span class="icon-rub"></span></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="block-top__text">
            <div class="container">
              <div class="block-top__text__title"><span class="block-top__text__title__inner">БИЛЕТЫ НА ПОЕЗДА РЖД</span></div>
              <div class="block-top__text__desc"><span class="block-top__text__desc__inner">Неограниченный выбор путешествий</span></div>
            </div>
          </div>
          <div class="block-top__form">
            <div class="container">
              <div class="block-top__form__inner">
                <script charset="utf-8" src="//partner.onetwotrip.com/build/widget/form.widget.load.js?id=8182" async></script>
              </div>
            </div>
          </div>
        </section>
        <section class="block-map">
          <div class="block-map__title">
            <div class="container">
              <h2 class="title bold white ops"><span class="title__inner">Популярные направления</span></h2>
            </div>
          </div>
          <div class="block-map__content">
            <div class="container">
              <div class="block-map__content__inner">
                <div class="block-map-image">
                  <!--img(src=config.path.images + 'rzhd/map/map.svg').block-map-image__img--><img class="block-map-image__img empty" src="http://landing-name.ru/images/rzhd/map/emptymap.svg">
                  <div class="block-map-image__texts">
                            <div class="block-map-text" style="top:47%;left:-3%">
                              <div class="block-map-text__direction text-right"><span class="block-map-text__direction__inner">Санкт-Петербург —&nbsp;Хельсинки</span></div>
                              <div class="block-map-text__price text-right"><span class="block-map-text__price__inner">от 4 560 <span class="icon-rub"></span></span></div>
                            </div>
                            <div class="block-map-text" style="top:40%;left:29%">
                              <div class="block-map-text__direction"><span class="block-map-text__direction__inner">Москва —&nbsp;Архангельск</span></div>
                              <div class="block-map-text__price"><span class="block-map-text__price__inner">от 4 560 <span class="icon-rub"></span></span></div>
                            </div>
                            <div class="block-map-text" style="top:87%;left:22%">
                              <div class="block-map-text__direction"><span class="block-map-text__direction__inner">Москва —&nbsp;Ростов-на-Дону</span></div>
                              <div class="block-map-text__price"><span class="block-map-text__price__inner">от 4 560 <span class="icon-rub"></span></span></div>
                            </div>
                            <div class="block-map-text" style="top:77%;left:29%">
                              <div class="block-map-text__direction"><span class="block-map-text__direction__inner">Москва —&nbsp;Самара</span></div>
                              <div class="block-map-text__price"><span class="block-map-text__price__inner">от 4 560 <span class="icon-rub"></span></span></div>
                            </div>
                            <div class="block-map-text" style="top:52%;left:44%">
                              <div class="block-map-text__direction"><span class="block-map-text__direction__inner">Москва —&nbsp;Екатеринбург</span></div>
                              <div class="block-map-text__price"><span class="block-map-text__price__inner">от 4 560 <span class="icon-rub"></span></span></div>
                            </div>
                            <div class="block-map-text" style="top:60%;left:56%">
                              <div class="block-map-text__direction"><span class="block-map-text__direction__inner">Новосибирск —&nbsp;Владивосток</span></div>
                              <div class="block-map-text__price"><span class="block-map-text__price__inner">от 4 560 <span class="icon-rub"></span></span></div>
                            </div>
                            <div class="block-map-text" style="top:77%;left:77%">
                              <div class="block-map-text__direction"><span class="block-map-text__direction__inner">Новосибирск —&nbsp;Хабаровск</span></div>
                              <div class="block-map-text__price"><span class="block-map-text__price__inner">от 4 560 <span class="icon-rub"></span></span></div>
                            </div>
                            <div class="block-map-text" style="top:92%;left:77%">
                              <div class="block-map-text__direction"><span class="block-map-text__direction__inner">Москва —&nbsp;Владивосток</span></div>
                              <div class="block-map-text__price"><span class="block-map-text__price__inner">от 4 560 <span class="icon-rub"></span></span></div>
                            </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="block-how">
          <div class="block-how__title">
            <div class="container">
              <h2 class="title bold ops"><span class="title__inner">Принципы нашей работы</span></h2>
            </div>
          </div>
          <div class="block-how__content">
            <div class="container">
              <div class="row">
                <div class="col col-md--12-4 col-sm--12-5">
                  <div class="block-how__icon"><img class="block-how__icon__img" src="http://landing-name.ru/images/how/baggage.svg" width="210" height="240"></div>
                </div>
                <div class="col col-md--12-8 col-sm--12-7">
                  <div class="block-how__text">
                    <div class="block-how__text__inner">Мы находим для вас лучший вариант, а вы сами выбираете, где купить билет. Покупка осуществляется на сайте компании-партнера.</div>
                    <div class="block-how__text__inner">Мы не взимаем комиссий, не устанавливаем наценок и не берем никакого вознаграждения с наших пользователей. Мы просто показывает вам, у кого из наших партнеров самые выгодные предложения.</div>
                    <div class="block-how__text__inner">У нас большая база компаний-партнеров, у вас — огромный выбор маршрутов, акций и скидок. Мы ищем и сравниваем цены по множеству источников, учитывая акции и спецпредложения.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="block-items">
          <div class="block-items__content">
            <div class="container">
              <div class="row">
                <div class="col col-sm--3-1">
                          <!---->
                          <div class="block-item">
                            <div class="block-item__top">
                              <div class="block-item__top__icon"><img class="block-item__top__icon__img" src="http://landing-name.ru/images/rzhd/rzhd-moment.svg" width="59" height="59"></div>
                              <div class="block-item__top__title"><span class="block-item__top__title__inner">Моментальная покупка</span></div>
                            </div>
                            <div class="block-item__bottom">
                              <div class="block-item__bottom__desc"><span class="block-item__bottom__desc__inner">Оформление билетов на сайте займет не больше 2 минут.</span></div>
                            </div>
                          </div>
                </div>
                <div class="col col-sm--3-1">
                          <!---->
                          <div class="block-item">
                            <div class="block-item__top">
                              <div class="block-item__top__icon"><img class="block-item__top__icon__img" src="http://landing-name.ru/images/rzhd/rzhd-train.svg" width="64" height="48"></div>
                              <div class="block-item__top__title"><span class="block-item__top__title__inner">Поездка на&nbsp;удобных&nbsp;местах</span></div>
                            </div>
                            <div class="block-item__bottom">
                              <div class="block-item__bottom__desc"><span class="block-item__bottom__desc__inner">Выбирайте лучшие места в поезде на понятной схеме вагона.</span></div>
                            </div>
                          </div>
                </div>
                <div class="col col-sm--3-1">
                          <!---->
                          <div class="block-item">
                            <div class="block-item__top">
                              <div class="block-item__top__icon"><img class="block-item__top__icon__img" src="http://landing-name.ru/images/rzhd/rzhd-earth.svg" width="59" height="59"></div>
                              <div class="block-item__top__title"><span class="block-item__top__title__inner">Экономьте на&nbsp;путешествиях</span></div>
                            </div>
                            <div class="block-item__bottom">
                              <div class="block-item__bottom__desc"><span class="block-item__bottom__desc__inner">Получайте до 3% от заказа в виде бонусов и оплачивайте ими отели и авиабилеты.</span></div>
                            </div>
                          </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <footer class="block-footer air2 air">
          <div class="container">
            <div class="block-footer__logo"><img class="block-footer__logo__img" src="http://landing-name.ru/images/logo/logo-white.svg" width="65" height="64"></div>
            <div class="block-footer__menu">
              <div class="block-footer__menu__title">
                <div class="block-footer__menu__title__inner">Лучшие предложения на авиаперелет</div>
              </div>
              <div class="row">
                <div class="block-footer__menu__item col col-md--3-1"><a class="block-footer__menu__item__link" href="javascript:void(0)"><span class="block-footer__menu__item__link__inner">Удобный поиск</span></a></div>
                <div class="block-footer__menu__item col col-md--3-1"><a class="block-footer__menu__item__link" href="javascript:void(0)"><span class="block-footer__menu__item__link__inner">Выгодные предложения</span></a></div>
                <div class="block-footer__menu__item col col-md--3-1"><a class="block-footer__menu__item__link" href="javascript:void(0)"><span class="block-footer__menu__item__link__inner">Бонусы за покупки</span></a></div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>

src/pug/sections/l4/l4-map/index.pug
mixin block_map_text(direction, price, w, t, l)
  .block-map-text(style={
    top   : t + '%',
    left  : l + '%'
  })
    .block-map-text__direction(class=(w ? 'text-right' : ''))
      span.block-map-text__direction__inner!= direction
    .block-map-text__price(class=(w ? 'text-right' : ''))
      span.block-map-text__price__inner!= price

section.block-map
  .block-map__title
    .container
      h2.title.bold.white.ops
        span.title__inner Популярные направления
  .block-map__content
    .container
      .block-map__content__inner
        .block-map-image
          //img(src=config.path.images + 'rzhd/map/map.svg').block-map-image__img
          img(src=config.path.images + 'rzhd/map/emptymap.svg').block-map-image__img.empty
          .block-map-image__texts
            +block_map_text('Санкт-Петербург —&nbsp;Хельсинки', 'от 4 560 ₽', true, 47, -3)
            +block_map_text('Москва —&nbsp;Архангельск', 'от 4 560 ₽', false, 40, 29)
            +block_map_text('Москва —&nbsp;Ростов-на-Дону', 'от 4 560 ₽', false, 87, 22)
            +block_map_text('Москва —&nbsp;Самара', 'от 4 560 ₽', false, 77, 29)
            +block_map_text('Москва —&nbsp;Екатеринбург', 'от 4 560 ₽', false, 52, 44)
            +block_map_text('Новосибирск —&nbsp;Владивосток', 'от 4 560 ₽', false, 60  , 56)
            +block_map_text('Новосибирск —&nbsp;Хабаровск', 'от 4 560 ₽', false, 77  , 77)
            +block_map_text('Москва —&nbsp;Владивосток', 'от 4 560 ₽', false, 92  , 77)
